<b>Общий баланс:</b> <code>{{ balance }}€</code><br>
<b>Общий баланс Миши:</b> <code>{{ misha_balance }}€</code><br>
<b>Зарплата сотрудников:</b> <code>{{ salary }}€</code><br>
<b>Зарплата Бет 2.0 сотрудников:</b> <code>{{ bet20_salary }}€</code><br>
<br>
<b>Итог:</b> <code>{{ total }}€</code><br>
