<b>Сумма операции:</b> <code>{{ operation.amount }}€</code><br>
<b>Причина:</b> <i>{{ operation.reason }}</i><br>
<b>Дата создания:</b> <code>{{ operation.created_at.strftime('%d.%m.%Y %H:%M') }}</code><br>
<b>Пользователь:</b> @{{ username }}
