<b>Общий баланс:</b> <code>{{ currency.convert_from_eur(user.balance) }}{{ currency.symbol }}</code> (<code>{{ user.balance }}€</code>)<br>
<b>Баланс миши:</b> <code>{{ currency.convert_from_eur(user.misha_balance) }}{{ currency.symbol }}</code> (<code>{{ user.misha_balance }}€</code>)
