<b>Сумма ставки:</b> <code>{{ currency.convert_from_eur(report.amount) }}{{ currency.symbol }}</code> (<code>{{ report.amount }}€</code>)<br>
<b>Сумма возврата:</b> <code>{{ currency.convert_from_eur(report.refund_amount) }}{{ currency.symbol }}</code> (<code>{{ report.refund_amount }}€</code>)<br>
<b>Процент зарплаты:</b> <code>{{ report.salary_percent }}%</code><br>
<b>Партнер:</b> <code>{{ partner.name }}</code><br>
<b>Дата создания:</b> <code>{{ report.created_at.strftime('%d.%m.%Y %H:%M') }}</code><br>
<br>
{% if report.erroneous %}
    <i>❌ Ошибочный отчет</i>
{% endif %}
